/* ------------------- Contact ------------------- */

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

.header h1{
    padding: 10px;
    border: 4px solid;
    margin-right: 470px;
    margin-left: 150px;

}

.menu li {
    width: auto;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    
}

.menu a {
    color: #000000;
    text-decoration: none;
}

.services_li {
    border-bottom:2px solid greenyellow;
    color: greenyellow;
    
}

section h1:first-child{
    margin-top: 15%;
    border-bottom: 2px solid greenyellow;
    width: 100px;
    margin-left: 50%;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: row;
}

#info {
    margin-left: 300px;
}

#forms{
    padding-left: 300px;
}
